#size{
             background-color: #eceff1;
             width: 45px;
             height: 45px;
             border: 1px solid silver;
             border-radius: 10px;
             text-align: center;
             padding-top: 10px;
             
          }
          
#anaDiv {  
	        width: 330px;  
          }
          
.div {
	        float: left;  
	               
          }
          
.beden{
              position: absolute;
              right: 33px;
          }
.dgr{
    text-align: right;
}
#table{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    margin-top:35px;
}
.footer{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top:  10px;
}
#list{
             background-color: #eceff1;
             width: 316px;
             height: 310px;
             text-align: center;            
}
#bilgi{
             background-color: white;
             width: 316px;
             height: 90px;
             font-weight: bold; 
}
#table2{
    margin-top: 10px;
    border: 1px solid black;
    height: 5px;
    background-color: #F8F8FF;
}